<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
  <h2>Вход</h2>

  <div>
    <label for="username">Имя пользователя:</label>
    <input
      type="text"
      id="username"
      formControlName="username"
      required
    />
    <div *ngIf="signInForm.get('username')?.invalid && signInForm.get('username')?.touched">
      <small *ngIf="signInForm.get('username')?.errors?.required">Имя пользователя обязательно.</small>
    </div>
  </div>

  <div>
    <label for="password">Пароль:</label>
    <input
      type="password"
      id="password"
      formControlName="password"
      required
    />
    <div *ngIf="signInForm.get('password')?.invalid && signInForm.get('password')?.touched">
      <small *ngIf="signInForm.get('password')?.errors?.required">Пароль обязателен.</small>
      <small *ngIf="signInForm.get('password')?.errors?.minlength">Минимум 8 символов.</small>
    </div>
  </div>
  <div class="button-group">
  <button type="submit" [disabled]="signInForm.invalid">Войти</button>

  <button type="button" (click)="goToSignUp()">Регистрация</button>
  </div>
</form>
