<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <h2>Регистрация</h2>

  <div>
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" formControlName="username" />
    <div *ngIf="signUpForm.get('username')?.invalid && signUpForm.get('username')?.touched">
      <small *ngIf="signUpForm.get('username')?.errors?.required">Имя пользователя обязательно.</small>
      <small *ngIf="signUpForm.get('username')?.errors?.minlength">Минимум 5 символов.</small>
      <small *ngIf="signUpForm.get('username')?.errors?.maxlength">Максимум 20 символов.</small>
    </div>
  </div>

  <div>
    <label for="email">Почта:</label>
    <input type="email" id="email" formControlName="email" />
    <div *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched">
      <small *ngIf="signUpForm.get('email')?.errors?.required">Электронная почта обязательна.</small>
      <small *ngIf="signUpForm.get('email')?.errors?.email">Некорректный формат электронной почты.</small>
    </div>
  </div>

  <div>
    <label for="password">Пароль:</label>
    <input type="password" id="password" formControlName="password" />
    <div *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched">
      <small *ngIf="signUpForm.get('password')?.errors?.required">Пароль обязателен.</small>
      <small *ngIf="signUpForm.get('password')?.errors?.minlength">Минимум 8 символов.</small>
      <small *ngIf="signUpForm.get('password')?.errors?.maxlength">Максимум 255 символов.</small>
    </div>
  </div>

  <div class="button-group">
    <button type="submit" [disabled]="signUpForm.invalid">Зарегистрироваться</button>
    <button type="button" (click)="goToSignIn()">Вход</button>
  </div>
</form>
