

<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="sign-up-form">
  <h2>Регистрация</h2>

  <!-- Имя пользователя -->
  <mat-form-field appearance="outline" class="full-width">
    <input matInput type="text" id="username" placeholder="Имя пользователя" formControlName="username" />
    <mat-error *ngIf="signUpForm.get('username')?.invalid && signUpForm.get('username')?.touched">
      <span *ngIf="signUpForm.get('username')?.errors?.['required']">Имя пользователя обязательно.</span>
      <span *ngIf="signUpForm.get('username')?.errors?.['minlength']">Минимум 5 символов.</span>
      <span *ngIf="signUpForm.get('username')?.errors?.['maxlength']">Максимум 20 символов.</span>
    </mat-error>
  </mat-form-field>

  <!-- Почта -->
  <mat-form-field appearance="outline" class="full-width">
    <input matInput type="email" id="email" placeholder="Почта" formControlName="email" />
    <mat-error *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched">
      <span *ngIf="signUpForm.get('email')?.errors?.['required']">Электронная почта обязательна.</span>
      <span *ngIf="signUpForm.get('email')?.errors?.['email']">Некорректный формат электронной почты.</span>
    </mat-error>
  </mat-form-field>

  <!-- Пароль -->
  <mat-form-field appearance="outline" class="full-width">
    <input matInput type="password" id="password" placeholder="Пароль" formControlName="password" />
    <mat-error *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched">
      <span *ngIf="signUpForm.get('password')?.errors?.['required']">Пароль обязателен.</span>
      <span *ngIf="signUpForm.get('password')?.errors?.['minlength']">Минимум 8 символов.</span>
      <span *ngIf="signUpForm.get('password')?.errors?.['maxlength']">Максимум 255 символов.</span>
    </mat-error>
  </mat-form-field>

  <!-- Кнопки -->
  <div class="button-group">
    <button mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid">Зарегистрироваться</button>
    <button mat-stroked-button color="accent" type="button" (click)="goToSignIn()">Вход</button>
  </div>
</form>

